@import '~@chris-cross-crash/ck-css/color-defs';

.base {
  position: fixed;
  height: var(--add-bar-height);
  width: 100%;
  max-width: var(--screen-xs);
  background-color: $slate-400;
  padding: 1rem;
  color: white;
  display: flex;
  z-index: 1000;
}

.input {
  width: 100%;
  border: none;
  border-radius: 1rem;
  margin-right: 0.5rem;
  // A little left padding to keep the border-radius from clipping the text
  padding-left: 0.5em;
}

.addBtn {
  border: none;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  cursor: pointer;
  color: white;
}

.categoryMenu {
  position: absolute;
  top: 3.5rem;
  right: 1.5rem;
}
