.base {
  position: relative;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  border-bottom: 1px solid #ccc;
  padding: 1rem;

  &CrossedOff {
    background-color: #ccc;
  }
}

.label {
  // Take all the extra available space
  flex: 1;
}

.categoryBtn {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
