$item-height: 3rem;

.base {
  position: relative;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  height: $item-height;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  cursor: pointer;

  &CrossedOff {
    background-color: #ccc;
    color: #777;
    font-style: italic;
  }
}

.label {
  // Take all the extra available space
  flex: 1;
}

.categoryBtn {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.categoryMenu {
  position: absolute;
  top: $item-height;
  left: 0.5rem;
  right: auto;
}

.deleteBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #ddd;
  }
}
